   <!-- ======= Team Section ======= -->
   {% load static %}
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Flunkey Autonomous</h2>
          <p>Select the Flunkey Autonomous Robot to serve the delicious Food. </p>

        </div>


        {% if qs %}
        <div class="row">
            {% for i in qs %}
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">                
                    <div class="member-img">
                        <a href="{{i.get_url}}"><img src ="" alt="{{i.name}}" onerror=this.src="{% static "assets/img/flunkey/2sds.png" %}" class="img-fluid" alt=""></a>
                        <div class="social">
                        <a href="{{i.get_url}}" style="color: {{i.color}}">{{i.color}}</i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4><a href="{{i.get_url}}" style="color: {{i.color}}">{{i.name}}</a></h4>
                        
                        <span>IP: {{i.ip}}</span>
                        <span>Port: {{i.port}}</span>
                    </div>
                    </div>
                </div>          
            {% endfor %}
        </div>  
        {% endif %}

        </div>
    </section><!-- End Team Section -->